.fa {
    font-size: 50px;
    color: rgb(19, 226, 26);
}

html {
    font-size: 12px;
    /* px значит 'пиксели': базовый шрифт будет 10 пикселей в
высоту */
    font-family: 'Roboto', sans-serif;
    background-color: #aad2ef;
}

.fa-brands,
.fa-solid {
    margin-right: 20px;
    border-radius: 20px;
    background-color: tomato;
    color: chartreuse
}


/* .fa-vk {
    color: blue;
    background-color: brown;
} */

.fa-whatsapp {
    color: yellow;
    background-color: darkorchid;
}

.fa-vk:hover {
    color: green;
    background-color: darkgoldenrod;
}

.fa-brands:hover {
    background-color: blueviolet;
    color: darkolivegreen;
}